<div>
    <div class="card">
        <h5 class="card-header"> Enter your Registered Email</h5>
        <div class="card-body">
            <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
            <input type="email" name="email" id="email" placeholder="Enter Email" ngModel required email [(ngModel)] ="user.email" #username="ngModel"  pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}">
            <div
              *ngIf="username.invalid && (username.dirty || username.touched)"
            >
              <div *ngIf="username?.errors?.['required']" class="error-message">
                *Email is required.
              </div>
              <div *ngIf="username?.errors?.['pattern']" class="error-message">
                Please enter a valid email address.
              </div>
            </div>
            <div class="form-group text-center">
                <button
                  type="submit"
                  class="btn btn-primary"
                  [disabled]="!userForm.valid"
                >
                Send OTP
                </button>
              </div>
        </form>

           
      
        </div>
    </div>
</div>

<!-- 
<div class="row mt-3">
    <div class="col-md-12">
      <div class="form-group">
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Enter Email"
          class="input-field form-control"
          ngModel
          required
          email
          [(ngModel)]="contact.email"
          #username="ngModel"
          pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}"
        />
      </div>
      <div
        *ngIf="username.invalid && (username.dirty || username.touched)"
      >
        <div *ngIf="username?.errors?.['required']" class="error-message">
          *Email is required.
        </div>
        <div *ngIf="username?.errors?.['pattern']" class="error-message">
          Please enter a valid email address.
        </div>
      </div>
    </div>
  </div> -->