<div class="container-fluid">
    <h2 class="text-center">Update Contact</h2>
    <form
      #userForm="ngForm"
      (ngSubmit)="onSubmit(userForm)"
      class="form-container"
    >
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <input
              type="text"
              id="firstname"
              name="firstname"
              placeholder="Enter First Name"
              class="input-field form-control"
              ngModel
              required
              #fname="ngModel"
              [(ngModel)]="user.firstName"
            />
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <input
              type="text"
              id="lastname"
              name="lastname"
              placeholder="Enter Last Name"
              class="input-field form-control"
              ngModel
              required
              [(ngModel)]="user.lastName"
            />
          </div>
        </div>
      </div>

      <div class="form-group">
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Enter Email"
          class="input-field form-control"
          ngModel
          required
          email
          [(ngModel)]="user.email"
        />
      </div>


      <div class="form-group">
        <input
          type="tel"
          id="phoneno"
          name="phoneno"
          placeholder="Enter Phone Number"
          class="input-field form-control"
          ngModel
          required
          [(ngModel)]="user.phoneno"
        />
      </div>

      <div class="form-group">
        <select
          id="gender"
          name="gender"
          class="select-field form-select form-control"
          ngModel
          required
          [(ngModel)]="user.gender"
        >
          <option value="" disabled selected>Select gender</option>
          <!-- Placeholder option -->
          <option value="Male">Male</option>
          <option value="Female">Female</option>
          <option value="Others">Others</option>
        </select>
      </div>

      <div class="form-group">
        <textarea
          id="address"
          name="address"
          placeholder="Enter your  address"
          class="input-field form-control"
          ngModel
          [(ngModel)]="user.address"
        ></textarea>
      </div>

      <div class="form-group text-center">
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="!userForm.valid" [disabled]="isButtonDisabled"
        >
          Submit
        </button>
      </div>
    </form>

</div>