.container-div {
  display: flex;
  flex-direction: row;
}
.accordion-button {
  background-color: #02202c;
  color: white;
  box-shadow: none;
  border: none;
  outline: none;
}
.accordion {
  border: none;
  outline: none;
  outline-offset: none;
}
.acc {
  padding: 0px;
}
.accordion-body {
  background-color: #021d27;
}
.color-overlay {
  display: flex;
  flex-direction: row;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 20vh;
}

.img1 {
  width: 25vw;
  height: 35vh;
}
.color-overlay h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

  color: #09556d;
  font-weight: 700;
  font-size: 3rem;
}

.color-overlay button {
  background-color: #053b50;
  height: 5vh;
  color: white;
  border-radius: 3vw;
  width: 10vw;
}
.para {
  color: #022635;
  font-size: 1.2em;
}
.menu {
  height: 90vh;

  width: 20%;

  display: flex;
  flex-direction: column;

  background-color: #02202c;
  padding-top: 2%;
}
.section {
  height: 90vh;

  width: 80%;
  margin-top: 0vw;
  margin-left: 7vw;

  margin-bottom: 0;
}

a {
  margin: 15px;
  border-radius: 10px;
  color: #acbac7;
}
a:hover,
.active-link {
  background-color: #021d27;
  box-shadow: 10px 10px 5px rgba(65, 66, 66, 0.26);

  color: white;
}
.bottom {
  margin-top: auto;
  margin-bottom: 0;
}

a:visited,
a:hover,
a:active {
  color: white;
  text-decoration: none;
}
