$color_1: #fff;
$background-color_1: #5441bd;
$background-color_2: #51508e;


h2 {
  text-align: center;
  color: #021b25;
  padding-top: 0.25vw;
  padding-bottom: 0.25vw;
  font-family: "Pacifico", cursive;
  font-size: 2rem;
 
}
.error-message {
  color: #ff1f02; /* Red color for error messages */ /* Add some spacing below the input field */
  margin-bottom: 1.5rem;
}

.login {
  width: 40vw;
  // height: max(50vh, auto);
  padding: 2vw;
  margin: 9vw;
  background-color:#dfeaf06e;;
  border-radius: 2vw;
  margin-top: 1vw;
  border-bottom: 6px solid #032837;

  box-shadow: 10px 10px 5px rgba(65, 66, 66, 0.26);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.input-field {
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
  border-bottom: 4px solid #053b50;
  color: rgb(14, 13, 13);
  text-align: start;
  width: 95%;
  outline: none;
}
.select-field {
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
  border-bottom: 2px solid #053b50;
  text-align: start;
  width: 95%;
  height: 5vh;
}

.select-field:focus {
  outline: none; /* Remove the default focus outline */
}

.btn {
  background-color: #053b50;
  color: $color_1;
  margin-top: 10vw;
  padding: 10px 20px;
  width: 100%;
  border: none;
  border-radius: 1vw;
  margin: auto;
  cursor: pointer;
  &:hover {
    background-color: #021b25;
  }
}
input.ng-invalid.ng-touched {
  border: 1.75px solid rgb(171, 83, 83);
}

.form-parent {
  display: flex;
  justify-content: center;
  margin-left: -10vw;
}

@media screen and (max-width: 800px) {
  .input-field {
    height: 4vw;
  }
  .form-parent {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (min-width: 900px) {
  textarea {
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #053b50;
    color: white;
    text-align: start;
    width: 95%;
    height: 5vh;
    margin-bottom: 7vh;
  }

  .form-container {
    // width: 35vw;
    // margin: 0 auto;
    padding: 20px;
  }
}
