<!-- <div class="container-fluid">
  <form #userForm="ngForm"
  (ngSubmit)="onSubmit(userForm)" class="form-container">

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-3 border-right">
      <div class="d-flex flex-column align-items-center text-center p-3 py-5">
        <img
          class="rounded-circle mt-5"
          width="150px"
          *ngIf="gender === 'Female'"
          src="../../assets/user3.png"
          alt="female"
          style="width: 100%"
        />
        <img
          class="rounded-circle mt-5"
          width="150px"
          *ngIf="gender === 'Male'"
          src="../../assets/user4.png"
          alt="male"
          style="width: 100%"
        />  -->
<!-- 
        <div class="row mt-3">
          <div class="col-md-12 form-group">
            <label class="labels">Profile Picture</label>
            <input type="file" (change)="onFileSelected($event)" accept="image/*" class="form-control-file" />
          </div>
        </div> -->
     

        <!-- <span class="font-weight-bold">{{ Name }}</span
        ><span class="text-black-50">{{ email }}</span
        ><span> </span>
      </div>
    </div>
    <div class="col-md-5 border-right">
      <div class="p-3 py-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h4 class="text-right">Profile Settings</h4>
        </div>
        <div class="row mt-3">
          <div class="col-md-12 form-group" >
            <label class="labels">First Name</label
            ><input
            type="text"
            id="firstname"
            name="firstname"
            placeholder="Enter First Name"
            class="input-field form-control"
            ngModel
            required
            #fname="ngModel"
            [(ngModel)]="user.firstName"
          />
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-12 form-group">
            <label class="labels">Last Name</label
            > <input
            type="text"
            id="lastname"
            name="lastname"
            placeholder="Enter Last Name"
            class="input-field form-control"
            ngModel
            required
            [(ngModel)]="user.lastName"
          />
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-12 form-group">
            <label class="labels">Mobile Number</label
            > <input
            type="tel"
            id="phoneno"
            name="phoneno"
            placeholder="Enter Phone Number"
            class="input-field form-control"
            ngModel
            required
            [(ngModel)]="user.phoneno"
          />
          </div>
          <div class="col-md-12 form-group" >
            <label class="labels">Address Line 1</label
            > <textarea
            id="address"
            name="address"
            placeholder="Enter your  address"
            class="input-field form-control"
            ngModel
            [(ngModel)]="user.address"
          ></textarea>
          </div>

          <div class="col-md-12 form-group">
            <label class="labels">Email ID</label
            > <input
            type="email"
            id="email"
            name="email"
            placeholder="Enter Email"
            class="input-field form-control"
            ngModel
            required
            email
            [(ngModel)]="user.email"
          />
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="form-group text-center">
    <button
      type="submit"
      class="btn btn-primary">
      Submit
    </button>
  </div>
</div>

</form>
</div> -->


<div class="container-div">
  
  <div class="menu">
    <div class="image">
      <img
      class="rounded-circle mt-5"
      width="150px"
      *ngIf="gender === 'Female'"
      src="../../assets/girl.png"
      alt="female"
      style="width: 100%"
    />
    <img
      class="rounded-circle mt-5"
      width="150px"
      *ngIf="gender === 'Male'"
      src="../../assets/boy.png"
      alt="male"
      style="width: 100%"
    /> 
    </div>
  </div>
  <div class="menu2">
    <div class="box-menu">
    <form #userForm="ngForm"
  (ngSubmit)="onSubmit(userForm)" class="form-container">
  <div class="row mt-3">
    <div class="col-md-12 form-group" >
      <label class="labels">First Name</label
      ><input
      type="text"
      id="firstname"
      name="firstname"
      placeholder="Enter First Name"
      class="input-field form-control"
      ngModel
      required
      #fname="ngModel"
      [(ngModel)]="user.firstName"
    />
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-12 form-group">
      <label class="labels">Last Name</label
      > <input
      type="text"
      id="lastname"
      name="lastname"
      placeholder="Enter Last Name"
      class="input-field form-control"
      ngModel
      required
      [(ngModel)]="user.lastName"
    />
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-12 form-group">
      <label class="labels">Mobile Number</label
      > <input
      type="tel"
      id="phoneno"
      name="phoneno"
      placeholder="Enter Phone Number"
      class="input-field form-control"
      ngModel
      required
      [(ngModel)]="user.phoneno"
    />
    </div>
    <div class="col-md-12 form-group" >
      <label class="labels">Address Line 1</label
      > <textarea
      id="address"
      name="address"
      placeholder="Enter your  address"
      class="input-field form-control"
      ngModel
      [(ngModel)]="user.address"
    ></textarea>
    </div>

    <div class="col-md-12 form-group">
      <label class="labels">Email ID</label
      > <input
      type="email"
      id="email"
      name="email"
      placeholder="Enter Email"
      class="input-field form-control"
      ngModel
      required
      email
      [(ngModel)]="user.email"
    />
    </div>

  </div>

<div class="form-group text-center">
<button
type="submit"
class="btn btn-primary">
Submit
</button>
</div>

<div class="form-group text-center">
  <button
    type="submit"
    class="btn btn-primary"
  >
    Submit
  </button>
</div>
  </form>
</div>
  </div>
  
</div>