

// body {
//   background: rgb(99, 39, 120)
// }

// .form-control:focus {
//   box-shadow: none;
//   border-color: #BA68C8
// }

// .profile-button {
//   background: rgb(99, 39, 120);
//   box-shadow: none;
//   border: none
// }

// .profile-button:hover {
//   background: #682773
// }

// .profile-button:focus {
//   background: #682773;
//   box-shadow: none
// }

// .profile-button:active {
//   background: #682773;
//   box-shadow: none
// }

// .back:hover {
//   color: #682773;
//   cursor: pointer
// }

// .labels {
//   font-size: 11px
// }

// .add-experience:hover {
//   background: #BA68C8;
//   color: #fff;
//   cursor: pointer;
//   border: solid 1px #BA68C8
// }

// .container{
//   width:75%;
//   background-color: rgba(255, 255, 255, 0.295);
//   border-radius: 1.4vw;
// }



// **************************************

.container-div{
display: flex;
flex-direction: row;
margin:5%;



}
.menu{
  height: 70vh;
  width :20%;
  border-top-left-radius: 2vw;
  border-bottom-left-radius: 2vw;
  background-color: #032837;
 

}

.error-message {
  color: #ff0000; /* Red color for error messages */ /* Add some spacing below the input field */
  margin-top: 2%;
}

.menu2{
  height: 70vh;
  width: 60%;
  background-color: rgba(255, 255, 255, 0.295);
 padding: 1%;
  margin-right: 10%;
  border-top-right-radius: 2vw;
  border-bottom-right-radius: 2vw;
}
.image{
  height:25vh;
  width: 70%;
  margin-top: 20%;
  margin-left: 14%;

}
.box-menu{
  margin:5%;
 align-items: center;
}
.btn-primary {
  background-color: #053B50;
  color: rgb(245, 236, 236);
  padding: 11px 11px;
  width: 100%;
  border: none;
  border-radius: 1vw;
  margin: auto;
  margin-top: 4vh;
  cursor: pointer;

  &:hover {
    background-color:#053B50 ;
  }
}
label{
  color: #021b25;
  font-size: 1.2em;
  font-weight: 600;
  font-style: bold;
  text-align: start;
}
input{
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #053B50 ;
  color: white;
  text-align: start;
  width: 95%;
  outline: none;

}

input:focus {
  background-color:transparent;
  color: white;
  border: 3px solid #053B50;
  
}
textarea{
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #053B50 ;
  color: white;
  text-align: start;
  width: 95%;
  height: 5vh;
}
textarea:focus {
  background-color:transparent;
  color: white;
  border: 3px solid #053B50;
  
}
.box1{
  padding: 1.2%;
}
.span
{
  font-family: cursive;
 font-size: 1em;
 font-weight: 400;

 padding: 3%;
 padding-top: 5%;

 margin: 15%;
 margin-top: 10%;
 word-wrap: break-word;
 word-break: keep-all;
 text-align: center;
}