

// body {
//   background: rgb(99, 39, 120)
// }

// .form-control:focus {
//   box-shadow: none;
//   border-color: #BA68C8
// }

// .profile-button {
//   background: rgb(99, 39, 120);
//   box-shadow: none;
//   border: none
// }

// .profile-button:hover {
//   background: #682773
// }

// .profile-button:focus {
//   background: #682773;
//   box-shadow: none
// }

// .profile-button:active {
//   background: #682773;
//   box-shadow: none
// }

// .back:hover {
//   color: #682773;
//   cursor: pointer
// }

// .labels {
//   font-size: 11px
// }

// .add-experience:hover {
//   background: #BA68C8;
//   color: #fff;
//   cursor: pointer;
//   border: solid 1px #BA68C8
// }

// .container{
//   width:75%;
//   background-color: rgba(255, 255, 255, 0.295);
//   border-radius: 1.4vw;
// }



// **************************************

.container-div{
display: flex;
flex-direction: row;




}
.menu{
  height: 100vh;
  width :20%;
  border-radius: 1px solid;
  border-color: red;
  background-color: #032837;
 

}
.menu2{
  height: 100vh;
  width: 80%;
  background-color: rgb(6, 88, 99);
  margin-right: 10%;
}
.image{
  height:35vh;
  width: 70%;
  margin-top: 20%;
  margin-left: 14%;

}
.box-menu{
  margin: 13%;
}
.btn-primary {
  background-color: #053B50;
  color: black;
  padding: 10px 20px;
  width: 100%;
  border: none;
  border-radius: 1vw;
  margin: auto;
  cursor: pointer;
  &:hover {
    background-color:#053B50 ;
  }
}