<!-- 

<div class="card">
    <h2 style="text-align:center">User Profile</h2>
    <img *ngIf="gender === 'Female'" src="../../assets/user3.png" alt="female" style="width:100%">
    <img *ngIf="gender === 'Male'" src="../../assets/user4.png" alt="male" style="width:100%">
    <div class="card-foot">
        <h1>{{Name.toUpperCase()}}</h1>
        <p class="title">Email: {{email}}</p>
        <p>Phone no : {{phoneno}}</p>
    </div>
  
</div> -->

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-3 border-right">
      <div class="d-flex flex-column align-items-center text-center p-3 py-5">
        <img
          class="rounded-circle mt-5"
          width="150px"
          *ngIf="gender === 'Female'"
          src="../../assets/user3.png"
          alt="female"
          style="width: 100%"
        />
        <img
          class="rounded-circle mt-5"
          width="150px"
          *ngIf="gender === 'Male'"
          src="../../assets/user4.png"
          alt="male"
          style="width: 100%"
        />

        <span class="font-weight-bold">{{ Name }}</span
        ><span class="text-black-50">{{ email }}</span
        ><span> </span>
      </div>
    </div>
    <div class="col-md-5 border-right">
      <div class="p-3 py-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h4 class="text-right">Profile Settings</h4>
        </div>
        <div class="row mt-3">
          <div class="col-md-12">
            <label class="labels">First Name</label
            ><input
              type="text"
              class="form-control"
              placeholder="first name"
              value="firstName"
              [(ngModel)]="firstName"
            />
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-12">
            <label class="labels">Last Name</label
            ><input
              type="text"
              class="form-control"
              value=""
              placeholder="lastname"
              [(ngModel)]="lastName"
            />
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-12">
            <label class="labels">Mobile Number</label
            ><input
              type="text"
              class="form-control"
              placeholder="enter phone number"
              value=""
              [(ngModel)]="phoneno"
            />
          </div>
          <div class="col-md-12">
            <label class="labels">Address Line 1</label
            ><input
              type="text"
              class="form-control"
              placeholder="enter address line 1"
              value=""
              [(ngModel)]="address"
            />
          </div>

          <div class="col-md-12">
            <label class="labels">Email ID</label
            ><input
              type="text"
              class="form-control"
              placeholder="enter email id"
              value=""
              [(ngModel)]="email"
            />
          </div>

          <!-- <div class="mt-5 text-center">
            <button class="btn btn-primary profile-button" type="button">
              Save Profile
            </button>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
