.login {

  display: flex;
  justify-content: center; /* Horizontally center the child */
  align-items: center; /* Vertically center the child */
  height: 100vh; /* Make the login container fill the full viewport height */
}
.error-message {
  color: #ff0000a7; /* Red color for error messages */ /* Add some spacing below the input field */
  margin-bottom: 1.5rem;
}

.container {
  width: 30vw;
  height: 65vh;
  padding: 2vw;
  background: #ffffff9e;
  border-radius: 2vw;
  box-shadow: 0 26px 15px rgba(0, 5, 3, 0.5);
  margin: auto;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
h2 {
  text-align: center;
  color: #176b87;
  padding-top: 0.5vw;
  padding-bottom: 1.9vw;
  font-family: "Pacifico", cursive;
  font-size: 40px;
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}

input {
  border: none;
  //  border-radius: 15px;
  margin-bottom: 0.8rem;
  width: 100%;
  outline: none;
  border-bottom:4px solid #04364a;
  height: 3rem;
  padding: 1rem;
  /* margin-left: 0.8vw; */
}

::ng-deep .p-component {
  width: 100%;
  border-radius: 15px;
  margin-bottom: 1.5rem;
}
::ng-deep .p-icon{
  position: relative;
  top:-1.2rem;
  width:2rem;
  height: 1.5rem;
}


/* 
label{
    color: #021814;
    font-size: 1vw;
} */

// .container2{

//     padding-top: 2vw;
//     padding-left: 1.5vw;

.btn1 {
  width: 100%;
  height: 5vh;
  border: none;
  border-radius: 1.2vw;
  background-color: #04364a;
  margin-right: 1vw;
  color: white;
  margin-bottom: 1.5vh;
  font-size: 1.3em;
  padding:10px 0px 10px 0px;
}

.btn1:hover {
  background-color: rgb(2, 2, 41) 0d4cc;
  color: white;
}
a {
  color: #176b87;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-decoration: none;
}
h4 {
  padding-top: 0.3vw;

  text-align: center;
  padding-bottom: 0.5vw;
}

.span-container {
  text-align: center;
  padding-top: 2.5vw;
  font-size: 1.3em;
  padding-left: 2vw;
}

.google-container {
  /* padding-left: 4.5vw; */
  text-align: center;
}
.btn {
  background-color: #3828b1cc;
  color: white;
  width: 200px;
}

.asl-google-signin-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* For larger size */
.asl-google-signin-button.size-large .btn {
  font-size: 24px; /* Adjust the font size as needed */
  height: 50px; /* Adjust the height as needed */
}

@media (max-width: 768px) {
  .container {
    width: 80vw;
    height: auto;
    padding: 4vw;
    margin: auto;
  }

  label {
    font-size: 1.5vw;
  }

  .container2 {
    padding-top: 1.5vw;
    padding-left: 1vw;
  }
}
