<div class="container">
  <div class="form-parent
  ">
  <div class="login">
    <h2>Login</h2>
    <form id="" method="" action="" class="form-container">
      <input
        type="email"
        pInputText
        name="username"
        id="username"
        [(ngModel)]="loginData.email"
        placeholder="Username"
        #username="ngModel"
        pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}"
        required
      />

      <div *ngIf="username.invalid && (username.dirty || username.touched)">
        <div *ngIf="username?.errors?.['required']" class="error-message">
          *Email is required.
        </div>
        <div *ngIf="username?.errors?.['pattern']" class="error-message">
          Please enter a valid email address.
        </div>
      </div>
      <div class="as">
        <p-password
          [(ngModel)]="loginData.password"
          name="password"
          [feedback]="false"
          [toggleMask]="true"
          placeholder=" Password"
          required
        ></p-password>
      </div>
      <button class="btn1" (click)="login()">LogIn</button>
    </form>

    <h4>OR</h4>

    <div style="display: flex; justify-content: center; align-items: center">
      <asl-google-signin-button
        type="standard"
        size="large"
        width="300vw"
        style="
          display: flex;
          justify-content: center;
          align-items: center;
          size: large;
          margin-top: 1rem;
        "
      >
        <span (click)="signInWithGoogle()">Login with Google</span>
      </asl-google-signin-button>
    </div>

    <span class="span-container"
      >Don't have an account? <a routerLink="/signup">Register here</a></span
    >
  </div>
</div>

<p-toast position="top-right" key="tr"></p-toast>