

.login {
  width: 34vw;
  // height: max(50vh, auto);
  padding: 3vw;
  margin: 0vw;
  background-color: #dfeaf06e;
  border-radius: 2vw;
  margin-top: 1vw;
  border-bottom: 6px solid #032837;

  box-shadow: 10px 10px 5px rgba(65, 66, 66, 0.26);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.error-message {
  color: #ff0000a7; /* Red color for error messages */ /* Add some spacing below the input field */
  margin-bottom: 1.5rem;
}


h2 {
  text-align: center;
  color: #176b87;
  margin-top: -1%;
  // padding-top: 0.5vw;
  padding-bottom: 1.5vw;
  font-family: "Pacifico", cursive;
  font-size: 40px;
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}


input {
  border: none;
  background-color: rgba(255, 255, 255, 0.918);
  border-bottom: 4px solid #053b50;
  color: rgb(14, 13, 13);
  text-align: start;
  width: 95%;
  outline: none;
  padding: 1%;
  margin: 2%;
}

::ng-deep .p-component {
  width: 98%;

  height: 2.6vw;
  border-radius: 1vw;
  margin-bottom: 0vw;
  margin-left: 1%;
  border: none;
  margin: 1%;

}
::ng-deep .p-icon{
  position: relative;
  top:-1.2rem;
  width:2rem;
  height: 1.5rem;
}



.btn1 {
  width: 97%;
  height: 5vh;
  border: none;
  border-radius: 1.2vw;
  background-color: #04364a;
  margin-right: 1vw;
  color: white;
  margin-top: 5%;
  margin-bottom: 2%;
  // margin: 4%;
  // margin-bottom: 1.5vh;
  font-size: 1.3em;
  padding:10px 0px 10px 0px;
}

.btn1:hover {
  background-color:#176b87;
  color: white;
}
a {
  color: #176b87;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-decoration: none;
}
h4 {
  padding-top: 0.3vw;

  text-align: center;
  padding-bottom: 0.5vw;
}

.span-container {
  text-align: center;
  padding-top: 2.5vw;
  font-size: 1.3em;
  padding-left: 2vw;
}

.google-container {
  /* padding-left: 4.5vw; */
  text-align: center;
}
.btn {
  background-color: #3828b1cc;
  color: white;
  width: 200px;
}

.asl-google-signin-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* For larger size */
.asl-google-signin-button.size-large .btn {
  font-size: 24px; /* Adjust the font size as needed */
  height: 50px; /* Adjust the height as needed */
}

.form-parent {
  display: flex;
  justify-content: center;
  margin:10.5%;

}
