<div class="login">
  <br /><br /><br />
  <div class="container conatiner-fluid card">
    <h2>Login</h2>
    <form id="" method="" action="">
      <input pInputText name="username" id="username" [(ngModel)]="loginData.email" placeholder="Username"/>
      <div class="as">
        <p-password  name="password" [(ngModel)]="loginData.password" [toggleMask]="true" placeholder=" Password"> </p-password>
      </div>
      <button class="btn1" (click)="login()">LogIn</button>
    </form>

    <h4>OR</h4>

    <div style="display: flex; justify-content: center; align-items: center;">
      <asl-google-signin-button
        type="standard"
        size="large"
        width="300vw"
        style="

          display: flex;
          justify-content: center;
          align-items: center;
          size: large;
          margin-top: 1rem;
        "
      >
        <span (click)="signInWithGoogle()">Login with Google</span>
      </asl-google-signin-button>
    </div>

    <span class="span-container"
      >Don't have an account? <a routerLink="/signup">Register here</a></span
    >
  </div>
</div>
