<div class="container">
  <div class="form-parent
  ">
  <div class="login">
    <h2>SignUp</h2>
    <form id="" method="" action=""  class="form-container">
      <input
        type="text"
        name="firstname"
        id=""
        placeholder="Enter Your First Name"
        [(ngModel)]="firstname"
        #first="ngModel"
        required
        [ngModelOptions]="{ standalone: true }"
        pattern="[A-Za-z]+"
      />
      <div *ngIf="first.invalid && (first.dirty || first.touched)">
        <div *ngIf="first?.errors?.['required']" class="error-message">
          *First Name is required.
        </div>
        <div *ngIf="first?.errors?.['pattern']" class="error-message">
          *First Name should contain only alphabets
        </div>
      </div>
      <input
        type="text"
        name="lastname"
        id=""
        pInputText
        placeholder="Enter Your Last Name"
        [(ngModel)]="lastname"
        #last="ngModel"
        pattern="[A-Za-z]+"
        required
        [ngModelOptions]="{ standalone: true }"
      />
      <div *ngIf="last.invalid && (last.dirty || last.touched)">
        <div *ngIf="last?.errors?.['required']" class="error-message">
          *Last Name is required.
        </div>
        <div *ngIf="last?.errors?.['pattern']" class="error-message">
          *Last Name should contain only alphabets
        </div>
      </div>
      <input
        type="email"
        name="email"
        id=""
        placeholder="Enter Your Email"
        [(ngModel)]="email"
        #username="ngModel"
        pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}"
        required
        [ngModelOptions]="{ standalone: true }"
      />
      <div *ngIf="username.invalid && (username.dirty || username.touched)">
        <div *ngIf="username?.errors?.['required']" class="error-message">
          *Email is required.
        </div>
        <div *ngIf="username?.errors?.['pattern']" class="error-message">
          Please enter a valid email address.
        </div>
      </div>
      <p-password
        name="password"
        [(ngModel)]="password"
        [toggleMask]="true"
        placeholder="Password"
      ></p-password>
      <input
        type="text"
        name="phoneno"
        id=""
        placeholder="Enter Your Phone Number"
        [(ngModel)]="phoneno"
        #phonenoInput="ngModel"
        pattern="^[0-9]{10}$"
        required
        [ngModelOptions]="{ standalone: true }"
      />
      <div *ngIf="phonenoInput.invalid && (phonenoInput.dirty || phonenoInput.touched)">
        <div  *ngIf="phonenoInput?.errors?.['required']" class="error-message">*Phone number is required.</div>
        <div *ngIf="phonenoInput.errors?.['pattern']" class="error-message">*Phone number must be 10 digits long and contain only numbers.</div>
      </div>
      <div class="form-group">
        <select
          id="gender"
          name="gender"
          class="select-field"
          ngModel
          required
          [(ngModel)]="gender"
        >
          <option value="" disabled selected>Select gender</option>
          <!-- Placeholder option -->
          <option value="Male">Male</option>
          <option value="Female">Female</option>
          <option value="Others">Others</option>
        </select>
      </div>
      <input
        type="text"
        name="address"
        id=""
        pInputText
        placeholder="Enter Address"
        [(ngModel)]="address"
        [ngModelOptions]="{ standalone: true }"
      />
      <div class="container2">
        <button class="btn1" (click)="register()">SignUp</button>
      </div>
    </form>
    <div class="span-container"></div>
    <span>Already have an account? <a routerLink="/login">Login Here</a></span>
  </div>
</div>
<p-toast
  [showTransformOptions]="'translateY(100%)'"
  [showTransitionOptions]="'1000ms'"
  [hideTransitionOptions]="'1000ms'"
  [showTransformOptions]="'translateX(100%)'"
></p-toast>