<div class="wrapper">
  <div>
    <div class="section">
      <div class="search-bar">
        <input
          type="text"
          [(ngModel)]="searchTerm"
          placeholder="Search contacts"
          style="color: black"
        />
        <button class="search" (click)="searchContacts()">
          <fa-icon
            [icon]="faMagnifyingGlass"
            size="2x"
            [styles]="{ stroke: 'red', color: '#021d27;', 'font-size': '20px' }"
          ></fa-icon>
        </button>
      </div>

      <hr
        style="
          height: 4px;
          width: 80%;
          text-align: left;
          margin-left: 0;
          border-width: 3px;
          color: rgb(0, 0, 0);
        "
      />

      <div *ngIf="loading" class="loading-spinner">
        <mat-spinner diameter="50" color="primary"></mat-spinner>
      </div>
      
  
      <table class="table table-hover">
        <thead>
          <tr class="">
            <th class="head" scope="col-1">#</th>
            <th class="head" scope="col-3" (click)="setSortField('name')">
              Name
              <fa-icon
                [icon]="faCaretUp"
                size="1x"
                [ngStyle]="{
                  display:
                    sortField === 'name' && sortOrder === 'asc'
                      ? 'inline'
                      : 'none'
                }"
              ></fa-icon>
              <fa-icon
                [icon]="faCaretDown"
                size="1x"
                [ngStyle]="{
                  display:
                    sortField === 'name' && sortOrder === 'desc'
                      ? 'inline'
                      : 'none'
                }"
              ></fa-icon>
            </th>
            <th class="head" scope="col-3" (click)="setSortField('email')">
              Email
              <fa-icon
                [icon]="faCaretUp"
                size="1x"
                [ngStyle]="{
                  display:
                    sortField === 'email' && sortOrder === 'asc'
                      ? 'inline'
                      : 'none'
                }"
              ></fa-icon>
              <fa-icon
                [icon]="faCaretDown"
                size="1x"
                [ngStyle]="{
                  display:
                    sortField === 'email' && sortOrder === 'desc'
                      ? 'inline'
                      : 'none'
                }"
              ></fa-icon>
            </th>
            <th class="head" scope="col-2">Phoneno</th>
            <th class="head" scope="col-2">work</th>

            <th class="head" scope="col-4">Options</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-body"   *ngFor="let contact of contacts; index as i">
            <td scope="col-1" class="imagebox">
              <div class="image">
                <img
                  class="rounded-circle"
                  *ngIf="contact.gender == 'Female'"
                  src="../../assets/girl.png"
                  alt="female"
                  style="width: 60%"
                />
                <img
                  class="rounded-circle"
                  *ngIf="contact.gender === 'Male'"
                  src="../../assets/boy.jpg"
                  alt="male"
                  style="width: 60%"
                />
              </div>
            </td>

            <td scope="col-3">{{ contact.name }}</td>
            <td scope="col-3">{{ contact.email }}</td>
            <td scope="col-2">{{ contact.phoneno }}</td>
            <td scope="col-2">{{ contact.work }}</td>

            <td scope="col-4">
              <div class="container-fluid">
                <div class="icon row">
                  <div class="col">
                    <fa-icon
                      [icon]="faPen"
                      size="2x"
                      [styles]="{
                        stroke: 'red',
                        color: '#021d27',
                        'font-size': '20px'
                      }"
                      (click)="updateContact(contact, contact.id)" pTooltip="Edit"
                      >
                    </fa-icon>
                  </div>
                  <div class="col">
                    <fa-icon
                      [icon]="faTrashCan"
                      size="2x"
                      [styles]="{
                        stroke: 'red',
                        color: '#021d27',
                        'font-size': '20px'
                      }"
                      (click)="onDeleteContact(i.toString())" pTooltip="Delete"
                    ></fa-icon>
                  </div>
                  <div class="col">
                    <fa-icon
                      [icon]="faHeart"
                      size="2x"
                      [ngStyle]="{
                        color: contact.favorite ? '#021d27' : '#9EB8D9'
                      }"
                      (click)="toggleFavorite(contact)" pTooltip="Favorite"
                      [styles]="{ 'font-size': '23px' }"
                    ></fa-icon>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <p-paginator
        (onPageChange)="onPageChange($event)"
        [first]="first"
        [rows]="rows"
        [totalRecords]="totalRecords"
        [rowsPerPageOptions]="[5, 10, 15]"
        class="pagenation"
      
      ></p-paginator>
    </div>
  </div>
</div>
  <p-toast
    [showTransformOptions]="'translateY(100%)'"
    [showTransitionOptions]="'1000ms'"
    [hideTransitionOptions]="'1000ms'"
    [showTransformOptions]="'translateX(100%)'"
  ></p-toast>
  <!-- for confirmation dialog -->
  <p-confirmDialog #cd [style]="{ width: '30vw' }">
    <ng-template pTemplate="header">
      <h3>Confirmation</h3>
    </ng-template>
    <ng-template pTemplate="message">
      <p>Do you want to delete this contact?</p>
    </ng-template>
    <ng-template pTemplate="footer">
      <button
        class="confirm"
        type="button"
        pButton
        icon="pi pi-times"
        style="margin: 4%; background-color: #032b3a"
        label="No"
        (click)="cd.reject()"
      ></button>
      <button
        type="button"
        pButton
        icon="pi pi-check"
        style="margin: 4%; background-color: #032b3a"
        label="Yes"
        (click)="cd.accept()"
      ></button>
    </ng-template>
  </p-confirmDialog>
  