
.section {
  display: flex;
  justify-content: center;
  flex-direction: column;
 margin: 20px;
}
// table {
//   width: 55vw;
//   margin-top: 20px;
//   border-radius: 20px;
//   background-color: opacity($color: #0c3d75);

// }
.table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  border-radius: 14px;
  overflow: hidden;
  background-color: #ffffff4b;
  border: 1px solid #ddd;
}


.section2{
  display: flex;
  flex-direction: row;
  

}

.head {
  background-color: #04364a;
  color: white;
  font-family: "Times New Roman", Times, serif;
  height: 5vh;
  text-align: center;
}
.table-body {
  text-align: center;
  // height: 6vh;
  background-color: opacity($color: #0c3d75);
}

.iconspace {
  display: grid;
  height: 6vh;
  padding-left: 0.5vw;
}

.search-bar{
  width: 80%;
  height:  5vh;
  display: flex;
flex-direction: row;

margin-bottom: 15px;
justify-content: end;}

input{
  width: 30%;
  height: 5vh;
  padding-left:4%;
  border-top-left-radius: 1.5vw;
  border-bottom-left-radius: 1.5vw;
  background-color: #ffffff86;
  color: rgb(0, 6, 10) !important;

  border: none;
}

.loading-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


input:focus{
  outline: none;
  outline-color: none;
}

input[type="text"]::placeholder {
  
  color: rgb(54, 51, 51); /* Replace with the desired color code */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.search{
  width: 10%;
  height: 5vh;
  background-color: rgba(255, 255, 255, 0.527);
  border-top-right-radius: 1.5vw;
  border-bottom-right-radius: 1.5vw;
  border: none;
}

@media screen and (max-width: 480px) {
  .icon {
    font-size: 10px;
  }
  .table {
    width: 25vw;
    margin-left: 5px;
  }
  //     width: auto;
  // }
  .confirm {
    margin-right: 1vw;
    width: 2vw;
    background-color: #021d27;

  }
 
    .image img {
      width: 20px; /* Adjust the width of the image for smaller screens */
      height: 20px; /* Adjust the height of the image for smaller screens */
      margin-right: 5px; /* Adjust margin for smaller screens */
    }

  .iconspace {
    display: grid;
    height: 3vh;
    padding-left: 0.5vw;
  }
}
.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.imagebox{
  padding-left: 10px;
}


.pagenation{
  // background-color: rgba(255, 255, 255, 0.692);  
  width: 80%;
}
.image{
  text-align: center;
}


.image img {
  width: 100px; /* Adjust the width of the image to make it an icon size */
  height: 50px; /* Adjust the height of the image to make it an icon size */
  // border-radius: 80%; /* Make the image circular */
  border: 2px solid rgb(5, 0, 0); /* Add a border around the image */
  margin-right: 20px; /* Add some margin to the right of the image */
}

.table {
  border-collapse: separate;
  border-spacing: 0;
  width: 80%;
  border-radius: 14px; /* Adjust the value for desired corner radius */
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.295); /* Adjust the alpha value for transparency */
  border: 1px solid #ddd;

}


.table thead th,
.table tbody td {
   /* Add border color if needed */
   padding: 10px;
  text-align: left;
  padding-top: 3vh;
}

.table thead th {
  background-color: #021d27; /* Adjust the alpha value for transparency */
}

.table tbody td {
  background-color: rgba(0, 0, 0, 0.1); /* Adjust the alpha value for transparency */
  color: white;
 
}

.table tbody tr:hover {
  background-color: #7e7c7c; /* Add hover background color if needed */
}



// .p-confirmDialog {
//   // background-color: rgba(255, 255, 255, 0.8) !important; /* Adjust the alpha value for transparency */
//   box-shadow: none !important;
//   border-radius: 10px !important; /* Adjust the value for desired corner radius */
//   color: black;
// }

// .bottom{
//   margin-top: 10vh;
// }

// .confirm{
//   background-color: red;
// }

@media screen and (max-width: 771px) {
  .table thead {
    display: none;
  }

  .table tbody td {
    display: block;
    text-align: left;
    padding: 8px;
  }

  .table tbody td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  .table tbody td:last-child {
    border-bottom: none;
  }
}


