<div class="form-parent">
  
  <div class="container card login">
    <h2 class="text-center">Add New Contact</h2>
    <form
      #contactForm="ngForm"
      (ngSubmit)="onSubmit(contactForm)"
      class="form-container"
    >
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <input
              type="text"
              id="firstname"
              name="firstname"
              placeholder="Enter First Name"
              class="input-field form-control"
              ngModel
              required
              #fname="ngModel"
              [(ngModel)]="contact.firstname"
            />
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <input
              type="text"
              id="lastname"
              name="lastname"
              placeholder="Enter Last Name"
              class="input-field form-control"
              ngModel
              required
              [(ngModel)]="contact.lastname"
            />
          </div>
        </div>
      </div>

      <div class="form-group">
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Enter Email"
          class="input-field form-control"
          ngModel
          required
          email
          [(ngModel)]="contact.email"
        />
      </div>

      <div class="form-group">
        <input
          type="text"
          id="work"
          name="work"
          placeholder="Enter Work Description"
          class="input-field form-control"
          ngModel
          [(ngModel)]="contact.work"
        />
      </div>

      <div class="form-group">
        <input
          type="tel"
          id="phoneno"
          name="phoneno"
          placeholder="Enter Phone Number"
          class="input-field form-control"
          ngModel
          required
          [(ngModel)]="contact.phoneno"
        />
      </div>

      <div class="form-group">
        <select
          id="gender"
          name="gender"
          class="select-field form-select form-control"
          ngModel
          required
          [(ngModel)]="contact.gender"
        >
          <option value="" disabled selected>Select gender</option>
          <!-- Placeholder option -->
          <option value="Male">Male</option>
          <option value="Female">Female</option>
          <option value="Others">Others</option>
        </select>
      </div>

      <div class="form-group">
        <textarea
          id="description"
          name="description"
          placeholder="Enter Description Of The Contact"
          class="input-field form-control"
          ngModel
          [(ngModel)]="contact.description"
        ></textarea>
      </div>

      <div class="form-group text-center">
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="!contactForm.valid"
        >
          <fa-icon [icon]="faCoffee"></fa-icon> Submit
        </button>
      </div>
    </form>
  </div>
  <div>
   
  </div>
</div>
<p-toast
  [showTransformOptions]="'translateY(100%)'"
  [showTransitionOptions]="'1000ms'"
  [hideTransitionOptions]="'1000ms'"
  [showTransformOptions]="'translateX(100%)'"
></p-toast>
