
<nav class="navbar navbar-expand-lg" id="main">
  <div class="container-fluid">

   
    <a class="navbar-brand brand" href="#">Smart Contact</a>
    <div class="d-flex bd-highlight navMenu">
      <div class="p-3 bd-highlight nav-item">
        <a
          class="nav-link active"
          aria-current="page"
          *ngIf="!loggedin"
          href="#"
          >Home</a
        >
      </div>
      <div class="p-3 bd-highlight nav-item">
        <a
          class="nav-link active"
          aria-current="page"
          *ngIf="!loggedin"
          routerLink="/login"
          >Login</a
        >
      </div>
      <div class="p-3 bd-highlight nav-item">
        <a
          class="nav-link active"
          aria-current="page"
          *ngIf="!loggedin"
          routerLink="/signup"
          >signup</a
        >
      </div>
      <!-- <p-avatar size="large">
        <span class="text-base">{{firstName.substring(0,1)}}</span>
    </p-avatar> -->

    <!-- <div class="p-3 bd-highlight nav-item" *ngIf="loggedin">
      <button class="upload" (click)="uploadContacts()"> <fa-icon
        [icon]="faUser"
        class="nav-link active"
        size="1x"    routerLink="/profile"
        [styles]="{ stroke: 'red', color: 'white' ,'margin-right': '12px' }"
      ></fa-icon>upload from here</button>
    </div> -->

      <div class="p-3 bd-highlight nav-item" *ngIf="loggedin">
        <span class="navbar-text "> <fa-icon
          [icon]="faUser"
          class="nav-link active"
          size="1x"    routerLink="/profile"
          [styles]="{ stroke: 'red', color: 'white' ,'margin-right': '12px' }"
        ></fa-icon>  {{firstName}} </span>
      </div>

      <div
        class="p-3 bd-highlight nav-item"
        (click)="signOut()"
        *ngIf="loggedin"
      >
        <fa-icon
          [icon]="faPowerOff"
          class="nav-link active"
          size="1x"
          [styles]="{ stroke: 'red', color: 'white', 'padding-top':'1.5vh' }"
        ></fa-icon>
      </div>
    </div>
  </div>
</nav>
