<!-- <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Smart-Contacts</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active item" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active item item" aria-current="page" href="#"
              >Company</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link active item item" aria-current="page" href="#"
              >Contact Us</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link active item" aria-current="page" href="#"
              >About Us</a
            >
          </li>
        </ul>
        <button (click)="signOut()">logout</button>
      </div>
    </div>
  </nav> -->


  <!-- ***************************************** -->
<!-- <div id="mySidenav" class="sidenav menu">
    <div class="brand">

   <H2>Smart Contact</H2>
 
      </div>
  <nav class="sidebar">
    <ul class="nav flex-column">
        <li class="nav-item">  <a class="nav-link " href="#"> Home <i class="fa-regular fa-house" style="color: #dee4e9;"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"> My Contacts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"> Profile </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" (click)="signOut()"> Logout </a>
        </li>
    </ul>
    </nav>
</div> -->



<div id="mySidenav" class="sidenav">
  <p class="closebtn" (click)="closeNav()">&times;</p>
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
</div>
<h2>Animated Sidenav Example</h2>
<p>Click on the element below to open the side navigation menu.</p>
<span style="font-size:30px;cursor:pointer" (click)="openNav()">&#9776; open</span>